<li class="chat-message{{#if isOutgoing}} chat-message--my{{/if}}">
  {{#if text}}
  <p class="chat-message__text">{{text}}<span class="chat-message__date">{{messageDate}}</span></p>
  {{/if}}
  {{#if image}}
  <img src={{image}} alt="Фото" class="chat-message__img">
  <span class="chat-message__date">{{messageDate}}</span>
  {{/if}}
  {{#if check_sent}}
    <img src="../../static/icons/message/sent.svg" alt="Статус" class="chat-message__status">
  {{/if}}
  {{#if check_read}}
    <img src="../../static/icons/message/read.svg" alt="Статус" class="chat-message__status">
  {{/if}}
</li>