@import "../../styles/variables";

.button-form {
	width: 70%;
	height: 5vh;
	margin-bottom: 2vh;
	background-color: var(--color-blue);
	font-size: var(--fs-buttons);
	font-weight: bold;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.button-form__link {
	color: var(--color-white);
	text-decoration: none;
}
