:root {
	--fs-text: 15px;
	--fs-subtext: 14px;
	--fs-buttons: 16px;
	--fs-headers: 18px;
	--fs-error-name: 48px;
	--fs-error-text: 24px;
	--fs-error-link: 11px;

	--color-text: #e2e2e4;
	--color-error-link: #3369f3;
	--color-blue: #3369f3;
	--color-green: #38be38;
	--color-red: #e52519;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-lightgrey: #e5e5e5;
	--color-grey: #c0c0c0;
	--color-darkgrey: #9e9e9e;
}
