@import "../../styles/variables";

// .conteiner {
//   // color: var(--color-text);
//   font-family: Roboto, sans-serif;
//   margin: 0;
// }

.chat {
  display: flex;
  height: 100%;

  &__list-block {
    width: 24.4vw;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $color-border-lightblue;
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    height: 9.93vw;
    padding: 1.1vw 0.78vw;
    border-bottom: 1px solid $color-border-lightblue;

    &-link {
      background-color: transparent;
      display: flex;
      color: $color-lightpurple;
    }

    &-icon {
      width: 100%;
      height: 100%;
    }

    &-input {
      width: 100%;
      height: 0.79vw;
      padding: 0.79vw;
      background-color: $color-grey;
      border-radius: 3px;

      &::placeholder {
        color: $color-darkgrey;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__dialog {
    width: 75.6vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 4.6vw;
      padding: 0 0.8vw;
      background-color: $color-form;
      border-bottom: 1px solid $color-border-lightblue;

      &-account {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &-name {
        font-weight: bold;
      }

      &-button {
        background-color: transparent;
      }
    }
  }

  &__form {
    display: flex;
    height: 4.6vw;
    justify-content: space-between;
    align-items: center;
    padding: 1.4vh 0.8vw;
    background-color: $color-form;

    &-input {
      height: 100%;
      padding-left: 1vw;
      margin-right: 1vw;
      flex-grow: 1;
      border: 1px solid $color-grey;
      border-radius: 10px;

      &::placeholder {
        color: $color-darkgrey;
      }
    }

    &-button {
      background-color: transparent;
    }
  }
}
