@import "../../../styles/variables";

.error {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1e1d1d;
	height: 100vh;
}

.error__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.error__title {
	margin: 0;
	margin-bottom: 20px;
	font-size: var(--fs-error-name);
	font-weight: bold;
}

.error__text {
	font-size: var(--fs-error-text);
	font-weight: bold;
	margin: 0;
	margin-bottom: 69px;
}

.error__link {
	font-size: var(--fs-error-link);
	font-weight: bold;
	color: var(--color-error-link);
}
