<div class="error">
  <div class="error__wrapper">
    <h1 class="error__name">{{number}}</h1>
    <p class="error__descr">{{descr}}</p>
    <a class="error__link" href="/">Назад к чатам</a>
  </div>
</div>