<div class="profile-form__wrapper">
  <form enctype="multipart/form-data" method="post" class="avatar-form"> 
    <div class="avatar-form__input-block">
      <input type="file" name="avatar" multiple accept="image/*,image/jpeg" class="avatar-form__file-input">
      <div class="avatar-form__image-wrapper">
        {{> avatar/avatar src=avatarSrc}}
      </div>
      <input type="submit" value="Добавить аватар" class="avatar-form__button">
    </div>
    <label for="avatar" class="avatar-form__label">Аватар</label>
  </form>
  <form action="#" class="profile-form" method="post">
    <fieldset class="profile-form__inputs-wrapper">
      {{#each inputs}}
        {{> formItem/formItem this}}
      {{/each}}
    </fieldset>
    <fieldset class="profile-form__inputs-wrapper">
      {{#each pwdInputs}}
        {{> formItem/formItem this}}
      {{/each}}
    </fieldset>
    <div class="profile-form__buttons-wrapper">
      {{#each buttons}}
        {{> formButton/formButton this}}
      {{/each}}
    </div>
  </form>
</div>
